//partials variables mixins
@use "variables";
@use "mixins";



body {
  display: flex;
  flex-direction: column;
}

.error__container {
  margin: 25% auto;
  text-align: center;

  h1 {
    font-size: 50px;
    color: variables.$charbon;
    font-weight: 900;
  }

  h2 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: variables.$charbon;
    font-weight: 700;
  }

  .logo-error {
    color: variables.$nenuphare;
  }
}

@media (min-width: 768px) {
  .error {
    background-color: blue;
    height: 600px;
  }
}