@use 'variables';
@use 'mixins';

.container__hero {
    display: flex;
    height: 25vh;
    margin-bottom: 40px;
    box-shadow: 0px -13px 20px 20px variables.$charbon;

    .content__hero__newshub {
        padding: 15px;
        width: 50%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .title__hero {
            font-size: 20px;
            font-family: 'Inter', sans-serif;
            font-weight: 600;
            margin: 0;
        }

        .date__hero {
            font-family: 'Poppins', system-ui;
            font-size: 14px;
            color: #0BABDC;
            margin: 0;
        }
    }

    .img__hero {
        width: 50%;
        object-fit: cover;
    }

    @media (min-width: 768px) {
        .content__hero__newshub {
            padding: 20px;
            align-items: center;

            .title__hero {
                font-size: 26px;
            }

            .date__hero {
                font-size: 16px;
            }
        }
    }

    @media (min-width: 1400px) {
        height: 60vh;
        margin-bottom: 50px;

        .content__hero__newshub {
            padding: 0 60px;

            .title__hero {
                font-size: 36px;
                font-weight: 500;
            }

            .date__hero {
                font-size: 20px;
            }
        }
    }
}



.grid__articles {
    width: 100%;
    gap: 0;
    padding: 0 23px;
    max-width: 530px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 45px;
}

@media (min-width: 768px) {
    .grid__articles {
        margin: 0 auto;
        max-width: 751px;
        padding: 0 46px;
        margin-bottom: 60px;
    }
}

@media (min-width: 1400px) {
    .grid__articles {
        margin: 0 auto;
        max-width: 1400px;
        margin-bottom: 90px;
    }
}


.grid__nouvelles__newshub {
    width: 100%;
    gap: 0;
    padding: 0 23px;
    max-width: 530px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 45px;
}

.nouvelle {
    width: 100%;

    &__item__newshub {
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
    }
}

.plus__container {
    display: flex;
    justify-content: center;

    .plus__articles {
        font-family: "Poppins", system-ui;
        font-size: 14px;
        font-weight: 500;
        border: 2px solid variables.$bleu-ciel;
        border-radius: 50px;
        width: 165px;
        padding: 8px;
        text-align: center;
        color: variables.$bleu-ciel;
        transition: 0.3s;
        background-color: variables.$quartz;
        margin-top: 45px;

        &:hover {
            background-color: variables.$bleu-ciel;
            color: variables.$quartz;
        }
    }
}

@media (min-width: 768px) {
    .grid__nouvelles__newshub {
        margin: 0 auto;
        max-width: 751px;
        padding: 0 46px;
        margin-bottom: 60px;
    }

    .plus__container {
        .plus__articles {
            width: 190px;
            font-size: 16px;
            padding: 12px;
        }
    }
}

@media (min-width: 1400px) {
    .grid__nouvelles__newshub {
        margin: 0 auto;
        max-width: 1400px;
        margin-bottom: 90px;
    }

    .plus__container {
        .plus__articles {
            width: 215px;
            font-size: 18px;
            padding: 14px;
        }
    }
}