@use "variables";
@use "mixins";

.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    align-self: center;
    margin: 20px;
    font-size: 40px;
    color: variables.$nenuphare;
    font-weight: 800;
  }
  .team_profile {
    hr {
      width: 50%;
      border-radius: 3px;
      margin: auto;
      height: 5px;
      opacity: 1;
      padding: 0;
      background-color: variables.$nenuphare;
      color: variables.$nenuphare;
    }
    img {
      width: 15%;
      align-self: flex-end;
    }
    h3 {
      text-transform: uppercase;
      font-size: 13px;
      text-align: start;
      margin: 8px;
      padding: 4px;
      font-weight: 600;
    }
    #first {
      padding: 10px;
      margin: 10px;
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items: center;
      p {
        display: none;
      }
    }
    #second {
      padding: 10px;
      margin: 10px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      p {
        display: none;
      }
    }
    .w3-button {
      padding: 8px;
      background-color: variables.$gris;
      color: variables.$quartz;
      font-size: 12px;
      font-weight: 700;
      border: 3px solid variables.$nenuphare;
      border-radius: 40px;
    }
  }

  @media (min-width: 768px) {
    h1 {
      font-size: 40px;
      margin: 30px;
      font-weight: 800;
    }
    .team_profile {
      hr {
        display: none;
      }
      img {
        width: 30%;
      }
      h3 {
        font-size: 15px;
        text-align: center;
        margin: 10px;
        padding: 6px;
        font-weight: 700;
      }
      #first {
        width: 65%;
        padding: 15px;
        margin: 15px auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        background-color: variables.$gris;
        border: 2px solid grey;
        img {
          align-self: center;
        }
      }
      #second {
        width: 65%;
        padding: 15px;
        margin: 15px auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        background-color: variables.$gris;
        border: 2px solid grey;
        img {
          align-self: center;
        }
      }
      .w3-button {
        padding: 18px;
        background-color: variables.$gris;
        color: variables.$quartz;
        font-size: 17px;
        font-weight: 800;
        border: 5px solid variables.$nenuphare;
        border-radius: 50px;
      }
    }
  }

  @media (min-width: 1400px) {
    h1 {
      font-size: 60px;
      margin: 35px;
      font-weight: 800;
    }
    .team_profile {
      img {
        width: 35%;
      }
      h3 {
        font-size: 35px;
        margin: 10px;
        padding: 10px;
      }
      #first {
        width: 70%;
        padding: 20px;
        margin: 10px auto;
        border: 4px solid grey;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;
        img {
          align-self: center;
        }
        h3 {
          text-align: center;
        }
        p {
          width: 50%;
          display: initial;
          font-size: 18px;
          text-align: center;
        }
      }

      #second {
        width: 70%;
        padding: 20px;
        margin: 10px auto;
        border: 4px solid grey;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        img {
          align-self: center;
        }
        h3 {
          text-align: center;
        }
        p {
          width: 50%;
          display: initial;
          font-size: 18px;
          text-align: center;
        }
      }
      .w3-button {
        padding: 20px;
        background-color: variables.$gris;
        color: variables.$quartz;
        font-size: 25px;
        font-weight: 800;
        border: 5px solid variables.$nenuphare;
        border-radius: 50px;
      }
    }
  }
}
