@use "variables";
@use "mixins";

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    margin: 10px;
    padding: 10px;
  }
  &__text {
    text-align: center;
  }
}
