@use 'variables';
@use 'mixins';

footer {
    background-color: variables.$charbon;
    overflow-x: hidden;
}




.footer-title {
    font-size: 22px;
    color: variables.$quartz;
    font-family: 'Poppins', system-ui;
    font-weight: 700;
    text-align: center;
    line-height: 0.8;
}

.footer-subtitle {
    font-size: 14px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    color: #C8C8C8;
}

.credit {
    font-size: 14px;
    border-top: 2px solid variables.$quartz;
    color: variables.$quartz;
    font-family: 'Poppins', system-ui;
    font-weight: 300;
    width: 100vw;
}

.txt-contact {
    font-size: 15px;
    color: variables.$quartz;
    font-family: 'Poppins', system-ui;
    text-decoration: none;
}

.footer-don {
    font-family: "Poppins", system-ui;
    font-weight: 700;
    color: variables.$nenuphare;
    border: 4px solid variables.$nenuphare;
    border-radius: 50px;
    width: 190px;
    padding: 15px 0;
    text-align: center;
    transition: 0.3s;
}

.bloc {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50px;
    margin: 3px;
    display: grid;
    place-items: center;
}

.bloc img {
    width: 20px;
    height: 20px;
}

.don:hover {
    background-color: variables.$nenuphare;
    color: variables.$quartz;
}

@media (min-width: 1400px) {
    .bloc {
        width: 35px;
        height: 35px;
        margin: 4px;
    }

    .bloc img {
        width: 23px;
        height: 23px;
    }
}

footer {
    background-color: variables.$charbon;
    overflow-x: hidden;

    .grid {
        display: grid;
        padding: 16px 24px;
        grid-template-columns: 2fr 2fr;

        .contact {
            color: variables.$quartz;
            font-family: 'Poppins', system-ui;
            text-decoration: none;
            font-size: 15px;
        }
    }

    .footer__logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .footer-title {
            font-size: 22px;
            color: variables.$quartz;
            font-family: 'Poppins', system-ui;
            font-weight: 700;
            text-align: center;
            line-height: 0.8;
            display: none;
        }
    }

    .footer__don{
        .don{
            margin: 16px 8px;
            font-family: "Poppins", system-ui;
            font-weight: 700;
            border: 4px solid variables.$nenuphare;
            border-radius: 50px;
            width: 155px;
            padding: 12px 0;
            text-align: center;
            color: variables.$nenuphare;
            transition: 0.3s;
            background-color: variables.$charbon;
            
            .link__button{
                text-decoration: none;
                color: variables.$nenuphare;
            }
            .link__button:hover{
            color: variables.$quartz;
            }
        }
        .don:hover {
            background-color: variables.$nenuphare;
            color: variables.$quartz;
        }
    }
    .footer__lien{
        display: flex;
        .bloc{
            width: 30px;
            height: 30px;
            background-color: #fff;
            border-radius: 50px;
            margin: 3px;
            place-items: center;
            display: flex;
            justify-content: center;
        }
    }
    .test{
        display: none;
    }
    @media (min-width: 1400px) {
        .grid {
            display: grid;
            grid-template-columns: 2fr 2fr 2fr;
        }
        .test{
            display: block;
        }
    }
}
