@use 'variables';
@use 'mixins';

footer {
    background-color: variables.$charbon;
}

.footer-row {
    height: 275px;
}

.footer-contact {
    color: variables.$quartz;
    font-family: 'Poppins', system-ui;
    font-weight: 300;
}

.footer-title {
    font-size: 22px;
    color: variables.$quartz;
    font-family: 'Poppins', system-ui;
    font-weight: 700;
    text-align: center;
    line-height: 0.8;
}

.footer-subtitle {
    font-size: 14px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    color: #C8C8C8;
}

.credit {
    font-size: 14px;
    border-top: 2px solid variables.$quartz;
    color: variables.$quartz;
    font-family: 'Poppins', system-ui;
    font-weight: 300;
    width: 100vw;
}

.txt-contact {
    font-size: 15px;
    color: variables.$quartz;
    font-family: 'Poppins', system-ui;
}

.footer-don {
    font-family: "Poppins", system-ui;
    font-weight: 700;
    color: variables.$nenuphare;
    border: 4px solid variables.$nenuphare;
    border-radius: 50px;
    width: 190px;
    padding: 15px 0;
    text-align: center;
    transition: 0.3s;
}

.bloc {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50px;
    margin: 3px;
    display: grid;
    place-items: center;
}

.bloc img {
    width: 20px;
    height: 20px;
}



@media (min-width: 1400px) {
    .bloc {
        width: 35px;
        height: 35px;
        margin: 4px;
    }

    .bloc img {
        width: 23px;
        height: 23px;
    }
}