@use 'variables';
@use 'mixins';
.nouvelles {
    display: flex;
    flex-direction: column;
    &__titre {
        text-align: center;
        font-size: 22px;
        font-weight: 500;
        color: variables.$charbon;
        margin-bottom: 6px;
    }
}

.grid__nouvelles {
    width: 100%;
    gap: 0;
    padding: 0 23px;
    max-width: 530px;
    margin: 0 auto;
    margin-top: 5px;
}

.nouvelle {
    width: 100%;
    &__item {
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
    }
    &__image {
        width: 100px;
        object-fit: cover;
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 15px;
    }
    &__titre {
        font-size: 16px;
        margin-bottom: 0;
        color: variables.$charbon;
        max-width: 500px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
        font-family: 'Inter', sans-serif;
    }
    &__date {
        font-size: 14px;
        color: variables.$bleu-ciel;
        margin-bottom: 9px;
    }
    &__texte {
        font-size: 14px;
        color: #666;
    }

    &__lien-none{
        display: none;
    }
}

.nouvelle__item{
    .nouvelle__esp{
        .esp{
                font-family: "Poppins", system-ui;
                font-size: 14px;
                font-weight: 500;
                border: 2px solid variables.$bleu-ciel;
                border-radius: 50px;
                width: 125px;
                padding: 8px;
                text-align: center;
                color: variables.$bleu-ciel;
                transition: 0.3s;
                background-color: variables.$quartz;
        }
        .esp:hover{
            background-color: variables.$bleu-ciel;
            color: variables.$quartz;
        }
    }
}

.nouvelle__separation{
    width: 100%;
    height: 3px;
    border-radius: 50px;
    background-color: #333;
    margin: 18px 0;
}
.nouvelle__item-second{
    padding: 15px 0;
}

@media (min-width: 768px) {
    .nouvelles{
        &__titre{
            font-size: 26px;
            margin-bottom: 8px;
        }
    }
    .grid__nouvelles {
        margin: 0 auto;
        max-width: 751px;
        padding: 0 46px;

        .nouvelle{
            &__content{
                padding-left: 20px;
            }
            &__lien{
                display: none;
            }
            &__lien-none{
                display: block;
            }
            &__titre{
                font-size: 20px;
                
            }
            &__date{
                font-size: 16px;
                margin-bottom: 0;
            }
            &__image{
                width: 120px;
            }
        }
    }

    .nouvelle__item{
        .nouvelle__esp{
            padding-left: 50px;
            .esp{
                font-size: 16px;
                padding: 12px;
                width: 145px;
            }
        }
    }

    .nouvelle__separation{
        margin: 22px 0;
    }
}

@media (min-width: 1400px) {
    .nouvelles{
        &__titre{
            font-size: 36px;
            margin-bottom: 12px;
        }
        .nouvelle{
            &__content{
                padding-left: 30px;
            }
            &__titre{
                font-size: 24px;
                max-width: 850px;
            }
            &__date{
                font-size: 18px;
            }
            &__image{
                width: 150px;
            }
        }
    }
    .grid__nouvelles {
        margin: 0 auto;
        max-width: 1400px;
    }

    .nouvelle__item{
        .nouvelle__esp{
            padding-left: 0;
            padding-right: 20px;
            .esp{
                font-size: 18px;
                padding: 14px;
                width: 170px;
            }
        }
    }
}