@use 'variables';
@use 'mixins';

.services__title{
    font-size: 22px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    margin-bottom: 5px;
    color: #303030;
    text-align: center;
}
.services__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    .service{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;

    }

.service:hover{
    justify-content: center;
    .txt-block{
        display: block;
    }
    .title-none{
        display: none;
    }
}
    .services__recherche{
        width: 155px;
        height: 205px;
        background-color: variables.$charbon;
        border-radius: 20px;
        margin: 8px;
        .recherche__title{
            font-family: 'Inter', sans-serif;
            font-weight: 700;
            text-align: center;
            color: variables.$quartz;
            margin-top: 5px;
            line-height: 1.2;
            display: block;
        }
        .recherche__txt{
            font-size: 14px;
            line-height: 1.2;
            text-align: center;
            font-family: "Poppins", system-ui;
            color: variables.$quartz;
            display: none;
        }
        .img__microscope{
            position: absolute;
            width: 85px;
           margin-top: 50px;
        }
    }
    .services__publication{
        width: 155px;
        height: 205px;
        background-color: variables.$nenuphare;
        border-radius: 20px;
        margin: 8px;
        .publication__title{
            font-family: 'Inter', sans-serif;
            font-weight: 700;
            text-align: center;
            color: #bfff6b;
            margin-top: 10px;
        }
        .publication__txt{
            font-size: 14px;
            line-height: 1.2;
            text-align: center;
            font-family: "Poppins", system-ui;
            color: #bfff6b;
            display: none;
        }
        .img__publication{
            position: absolute;
            width: 85px;
           margin-top: 50px;
        }
    }
    .services__formation{
        width: 155px;
        height: 205px;
        background-color: variables.$bleu-ciel;
        border-radius: 20px;
        margin: 8px;
        .formation__title{
            font-family: 'Inter', sans-serif;
            font-weight: 700;
            text-align: center;
            color: #8be4ff;
            margin-top: 10px;
        }
        .formation__txt{
            font-size: 14px;
            line-height: 1.2;
            text-align: center;
            font-family: "Poppins", system-ui;
            color: #8be4ff;
            display: none;
        }
        .img__formation{
            position: absolute;
            width: 85px;
           margin-top: 50px;
        }
    }
    .services__conseil{
        width: 155px;
        height: 205px;
        background-color: variables.$bleu-matinal;
        border-radius: 20px;
        margin: 8px;
        .conseil__title{
            font-family: 'Inter', sans-serif;
            font-weight: 700;
            text-align: center;
            color: #cdf8fd;
            margin-top: 5px;
            line-height: 1.2;
        }
        .conseil__txt{
            font-size: 14px;
            line-height: 1.2;
            text-align: center;
            font-family: "Poppins", system-ui;
            color: #cdf8fd;
            display: none;
        }
    }
    .services__sensibilisation{
        width: 155px;
        height: 205px;
        background-color: variables.$gris;
        border-radius: 20px;
        margin: 8px;
        .sensibilisation__title{
            font-family: 'Inter', sans-serif;
            font-weight: 600;
            text-align: center;
            color: #EFEFEF;
            margin-top: 15px;
        }
        .sensibilisation__txt{
            font-size: 14px;
            line-height: 1.2;
            text-align: center;
            font-family: "Poppins", system-ui;
            color: #EFEFEF;
            display: none;
        }
    }
}
