@use 'variables';
@use 'mixins';
.temoignages {
    &__titre {
        text-align: center;
        font-size: 22px;
        margin-bottom: 14px;
        color: variables.$charbon;
    }
}

.grid__temoignages {
    padding: 0 23px;
    max-width: 530px;
    margin: 0 auto;
}

.temoignage {
    &__item {
        text-align: center;
    }
    &__photo {
        width: 60px;
        border-radius: 50%;
        object-fit: cover;
    }
    &__nom {
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-weight: 600;
        color: variables.$charbon;
        margin: 10px 0;
    }
    &__texte {
        font-family: 'Poppins', system-ui;
        font-weight: 400;
        font-size: 14px;
        color: variables.$charbon;
        margin: 0 auto;
        padding: 0 10px;
        max-width: 450px;
    }
}

.temoignage__separation {
    width: 100%;
    height: 2px;
    border-radius: 50px;
    background-color: variables.$charbon;
    margin: 22px 0;
}

// Tablette
@media (min-width: 768px) {
    .temoignages__titre {
        font-size: 26px;
        margin-bottom: 16px;
    }
    .grid__temoignages {
        max-width: 800px;
        padding: 0 46px;
        display: grid;
        grid-template-columns: 1fr 2px 1fr 2px 1fr;
        justify-items: center;
    }
    .temoignage__photo {
        width: 70px;
    }
    .temoignage__nom {
        font-size: 20px;
    }
    .temoignage__texte {
        font-size: 16px;
        padding: 0;
    }
    .temoignage__separation {
        height: auto;
        margin: 0;
    }
    .temoignage__item {
        &:nth-child(1) {
            padding-right: 15px;
        }
        &:nth-child(3) {
            padding: 0 15px;
        }
        &:nth-child(5) {
            padding-left: 15px;
        }
    }
}

// Desktop
@media (min-width: 1400px) {
    .temoignages__titre {
        font-size: 36px;
        margin-bottom: 20px;
    }
    .grid__temoignages {
        max-width: 1200px;
        margin: 0 auto;
        .temoignage__item {
            &:nth-child(1) {
                padding-right: 25px;
            }
            &:nth-child(3) {
                padding: 0 25px;
            }
            &:nth-child(5) {
                padding-left: 25px;
            }
        }
    }
    .temoignage__photo {
        width: 80px;
    }
    .temoignage__nom {
        font-size: 24px;
    }
    .temoignage__texte {
        font-size: 20px;
    }
    .temoignage__separation{
        width: 3px;
    }
}