@use 'variables';
@use 'mixins';

//format mobile
.grid__banniere {
    display: none;
    width: 100%;
    background-color: variables.$charbon;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding: 20px 30px;
    position: fixed;
    z-index: 15;
    bottom: -30%;

    &--none {
        display: none;
    }

    .banniere__txt {
        display: flex;
        justify-content: center;
        text-align: center;
        color: variables.$quartz;
        font-family: 'Poppins', system-ui;
        font-size: 15px !important;

        a {
            text-decoration: none;
            color: variables.$bleu-ciel;
        }

    }

    .banniere__btn {
        display: flex;
        justify-content: center;
        align-items: center;

        .btn__compris {
            margin-top: 16px;
            font-family: "Poppins", system-ui;
            font-weight: 400;
            border: 2px solid variables.$bleu-ciel;
            border-radius: 50px;
            width: 155px;
            padding: 12px 0;
            text-align: center;
            color: variables.$bleu-ciel;
            transition: 0.3s;
            background-color: variables.$charbon;
        }

        .btn__compris:hover {
            background-color: variables.$bleu-ciel;
            color: variables.$quartz;
        }
    }
}

//format tablette
@media (min-width: 768px) {
    .grid__banniere {
        display: flex;
        padding: 20px 5vw;
        align-items: center;
        justify-content: center;

        &--none {
            display: none;
        }

        .banniere__txt {
            text-align: left;
            font-size: 17px !important;
            width: 100%;
            max-width: 720px;
        }

        .banniere__btn {
            .btn__compris {
                margin-top: 0px;
                margin-left: 3vw;
            }
        }
    }
}

@media (min-width: 1400px) {
    .grid__banniere {
        padding: 25px 5vw;

        &--none {
            display: none;
        }

        .banniere__txt {
            font-size: 18px !important;
        }

        .btn__compris {
            width: 175px !important;
            height: 68 !important;
            padding: 15px 0;
            font-size: 20px;
        }
    }
}