//partials variables mixins
@use "variables";
@use "mixins";

main {
  height: 100%;
}

.error {
  margin-top: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  &__container {
    h1 {
      font-size: 50px;
      color: variables.$charbon;
      font-weight: 900;
    }

    h2 {
      font-size: 20px;
      margin: 20px;
      color: variables.$charbon;
      font-weight: 700;
    }

    .logo-error {
      color: variables.$nenuphare;
    }
    .gif-404 {
      img {
        margin: 25px;
        width: 50%;
        height: 50%;
      }
    }
  }

  @media (min-width: 768px) {
    margin-top: 15%;
    &__container {
      h1 {
        font-size: 70px;
      }
      h2 {
        font-size: 40px;
      }
      .gif-404 {
        img {
          margin: 10px;
          width: 30%;
          height: 30%;
        }
      }
    }
  }

  @media (min-width: 1400px) {
    margin-top: 5%;
    &__container {
      h1 {
        font-size: 85px;
      }
      h2 {
        font-size: 55px;
      }
    }
  }
}
