@use 'variables';
@use 'mixins';

.nouvelles {
    display: flex;
    flex-direction: column;

    h2 {
        text-align: center;
        font-size: 22px;
        font-weight: 500;
        color: variables.$charbon;
        margin-bottom: 6px;
        margin-top: 0;
    }
}

.grid__nouvelles {
    width: 100%;
    gap: 0;
    padding: 0 23px;
    max-width: 530px;
    margin: 0 auto;
    margin-top: 5px;
}

.nouvelle {
    width: 100%;

    &__item {
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;

        img {
            width: 100px;
            height: 100px;
            object-fit: cover;

            @media (min-width: 768px) {
                width: 120px;
                height: 120px;
            }

            @media (min-width:1400px) {
                width: 150px;
                height: 150px;
            }
        }

        .nouvelle__content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 15px;

            h3 {
                font-size: 16px;
                margin-bottom: 0;
                color: variables.$charbon;
                max-width: 500px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                overflow: hidden;
                text-overflow: ellipsis;
                font-family: 'Inter', sans-serif;
            }

            p {
                font-size: 14px;
                color: variables.$bleu-ciel;
                margin-bottom: 9px;
            }

            @media (min-width: 768px) {
                h3 {
                    font-size: 20px;
                }

                p {
                    font-size: 16px;
                    margin-bottom: 0;
                }

            }

            @media (min-width: 1400px) {
                h3 {
                    font-size: 24px;
                    max-width: 850px;
                }

                p {
                    font-size: 18px;
                }
            }
        }
    }

    &__btn {
        &__esp {
            @media (min-width:768px) {
                padding-left: 50px;
            }

            @media (min-width:1400px) {
                padding-left: 0;
                padding-right: 20px;
            }

            .link__button {
                .esp {
                    font-family: "Poppins", system-ui;
                    font-size: 14px;
                    font-weight: 500;
                    border: 2px solid variables.$bleu-ciel;
                    border-radius: 50px;
                    width: 125px;
                    padding: 8px;
                    text-align: center;
                    color: variables.$bleu-ciel;
                    transition: 0.3s;
                    background-color: variables.$quartz;

                    &:hover {
                        background-color: variables.$bleu-ciel;
                        color: variables.$quartz;
                    }

                    @media (min-width:768px) {
                        font-size: 16px;
                        padding: 12px;
                        width: 145px;
                    }

                    @media (min-width:1400px) {
                        .esp {
                            font-size: 18px;
                            padding: 14px;
                            width: 170px;
                        }
                    }
                }
            }
        }
    }


    &__lien-none {
        display: none;
    }
}

.nouvelle__separation {
    width: 100%;
    height: 2px;
    border-radius: 50px;
    background-color: variables.$charbon;
    margin: 18px 0;
}

@media (min-width: 768px) {
    .nouvelles {
        h2 {
            font-size: 26px;
            margin-bottom: 8px;
            margin-top: 0;
        }
    }

    .grid__nouvelles {
        margin: 0 auto;
        max-width: 751px;
        padding: 0 46px;
    }

    .nouvelle {
        &__content {
            padding-left: 20px;
        }

        &__lien {
            display: none;
        }

        &__lien-none {
            display: block;
        }

        &__titre {
            font-size: 20px;
        }

        &__date {
            font-size: 16px;
            margin-bottom: 0;
        }

        &__image {
            width: 120px;
            height: 120px;
        }

        &__esp {
            padding-left: 50px;

            .esp {
                font-size: 16px;
                padding: 12px;
                width: 145px;
            }
        }
    }

    .nouvelle__separation {
        margin: 22px 0;
    }
}

@media (min-width: 1400px) {
    .nouvelles {
        h2 {
            font-size: 36px;
            margin-bottom: 12px;
            margin-top: 0;
        }
    }

    .nouvelle {
        &__content {
            padding-left: 30px;
        }

        &__titre {
            font-size: 24px;
            max-width: 850px;
        }

        &__date {
            font-size: 18px;
        }

        &__image {
            width: 150px;
            height: 150px;
        }

        &__esp {
            padding-left: 0;
            padding-right: 20px;

            .esp {
                font-size: 18px;
                padding: 14px;
                width: 170px;
            }
        }
    }

    .grid__nouvelles {
        margin: 0 auto;
        max-width: 1400px;
    }

    .nouvelle__separation {
        height: 3px;
    }
}