.navbar {
  background-color: #303030;
}

.nav-link {
  color: #EFEFEF;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  margin: 0px 8px;
  transition: 0.3s;
}

.nav-link-don {
  font-family: "Poppins", system-ui;
  font-weight: 700;
  color: #8DC63F;
  border: 4px solid #8DC63F;
  border-radius: 50px;
  width: 155px;
  padding: 12px 0;
  text-align: center;
  transition: 0.3s;
}

.nav-link:hover {
  color: #0BABDC;
}

.nav-link-don:hover {
  background-color: #8DC63F;
  color: #EFEFEF;
}

@media (min-width: 1400px) {
  .navbar {
    height: 110px;
  }
  .nav-link {
    font-size: 20px;
  }
  .nav-link-don {
    font-family: "Poppins", system-ui;
    font-weight: 700;
    color: #8DC63F;
    border: 4px solid #8DC63F;
    border-radius: 50px;
    width: 190px;
    padding: 15px 0;
    text-align: center;
    transition: 0.3s;
  }
  .navbar-collapse {
    background-color: #303030;
  }
  .navbar-brand {
    display: flex;
    line-height: 0.6;
    color: #EFEFEF;
    padding: 0 35px;
  }
  .navbar-brand:hover {
    color: #EFEFEF;
  }
  .navbar-brand-mobile {
    padding: 0;
  }
  .title {
    font-family: "Poppins", system-ui;
    font-size: 28px;
    font-weight: 700;
    margin-left: 10px;
  }
  .subtitle {
    font-family: "Noto sans", sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #C8C8C8;
  }
}
footer {
  background-color: #303030;
  overflow-x: hidden;
}
footer .grid__footer {
  display: grid;
  padding: 24px 16px;
  grid-template-columns: 2fr 2fr;
}
footer .grid__footer .footer__contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .grid__footer .footer__contact .contact {
  color: #EFEFEF;
  font-family: "Poppins", system-ui;
  text-decoration: none;
  font-size: 15px;
}
footer .footer__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer .footer__btn .footer__logo .footer-title {
  font-size: 22px;
  color: #EFEFEF;
  font-family: "Poppins", system-ui;
  font-weight: 700;
  text-align: center;
  line-height: 0.8;
  display: none;
}
footer .footer__btn .footer__don .don {
  margin: 16px 8px;
  font-family: "Poppins", system-ui;
  font-weight: 700;
  border: 4px solid #8DC63F;
  border-radius: 50px;
  width: 155px;
  padding: 12px 0;
  text-align: center;
  color: #8DC63F;
  transition: 0.3s;
  background-color: #303030;
}
footer .footer__btn .footer__don .don:hover {
  background-color: #8DC63F;
  color: #EFEFEF;
}
footer .footer__btn .footer__lien {
  display: flex;
}
footer .footer__btn .footer__lien .bloc {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50px;
  margin: 3px;
  margin-top: 0;
  place-items: center;
  display: flex;
  justify-content: center;
}
footer .footer__btn .footer__lien .bloc img {
  width: 20px;
  height: 20px;
}
footer .footer__logo__centered {
  display: none;
  flex-direction: column;
  align-items: center;
}
footer .footer__logo__centered .footer-title {
  font-size: 22px;
  color: #EFEFEF;
  font-family: "Poppins", system-ui;
  font-weight: 700;
  text-align: center;
  line-height: 0.8;
  display: block;
  margin-top: 8px;
}
@media (min-width: 768px) {
  footer .grid__footer {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
  }
  footer .grid__footer .footer__logo__centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  footer .grid__footer .footer__logo__centered .footer-title {
    font-size: 22px;
    color: #EFEFEF;
    font-family: "Poppins", system-ui;
    font-weight: 700;
    text-align: center;
    line-height: 0.8;
    display: block;
    margin-top: 8px;
  }
  footer .grid__footer .footer__logo__centered .footer-title .footer-subtitle {
    font-size: 14px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    color: #C8C8C8;
  }
  footer .grid__footer .footer__btn .footer__logo {
    display: none;
  }
  footer .grid__footer .footer__btn .footer__don .don {
    margin: 0 8px;
  }
  footer .grid__footer .footer__btn .footer__lien {
    margin-top: 8px;
  }
  footer .grid__footer .footer__btn .footer__lien .bloc {
    margin-top: 3px;
  }
}
@media (min-width: 1400px) {
  footer .footer__btn .footer__lien .bloc {
    width: 35px;
    height: 35px;
    margin: 4px;
  }
  footer .footer__btn .footer__lien .bloc img {
    width: 23px;
    height: 23px;
  }
  footer .footer__btn .footer__don .don {
    width: 190px;
    padding: 15px 0;
    font-size: 20px;
  }
}
footer .credit {
  text-align: center;
  font-size: 14px;
  border-top: 2px solid #EFEFEF;
  color: #EFEFEF;
  font-family: "Poppins", system-ui;
  font-weight: 300;
  width: 100vw;
}

.next__chapter {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 15px 0;
}
.next__chapter .circle {
  width: 6px;
  height: 6px;
  background-color: black;
  margin: 5px;
  border-radius: 50px;
  background-color: #303030;
}

@media (min-width: 768px) {
  .next__chapter {
    margin: 17px 0;
  }
  .next__chapter .circle {
    margin: 8px;
  }
}
@media (min-width: 1400px) {
  .next__chapter {
    margin: 25px 0;
  }
  .next__chapter .circle {
    margin: 10px;
  }
}
.grid__banniere {
  display: none;
  width: 100%;
  background-color: #303030;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 20px 30px;
  position: fixed;
  z-index: 15;
  top: 0;
}
.grid__banniere--none {
  display: none;
}
.grid__banniere .banniere__txt {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #EFEFEF;
  font-family: "Poppins", system-ui;
  font-size: 15px;
}
.grid__banniere .banniere__txt a {
  text-decoration: none;
  color: #0BABDC;
}
.grid__banniere .banniere__btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid__banniere .banniere__btn .btn__compris {
  margin-top: 16px;
  font-family: "Poppins", system-ui;
  font-weight: 400;
  border: 2px solid #0BABDC;
  border-radius: 50px;
  width: 155px;
  padding: 12px 0;
  text-align: center;
  color: #0BABDC;
  transition: 0.3s;
  background-color: #303030;
}
.grid__banniere .banniere__btn .btn__compris:hover {
  background-color: #0BABDC;
  color: #EFEFEF;
}

@media (min-width: 768px) {
  .grid__banniere {
    display: flex;
    padding: 20px 5vw;
    align-items: center;
    justify-content: center;
  }
  .grid__banniere--none {
    display: none;
  }
  .grid__banniere .banniere__txt {
    text-align: left;
    font-size: 17px;
    width: 100%;
    max-width: 720px;
  }
  .grid__banniere .banniere__btn .btn__compris {
    margin-top: 0px;
    margin-left: 3vw;
  }
}
@media (min-width: 1400px) {
  .grid__banniere {
    padding: 25px 5vw;
  }
  .grid__banniere--none {
    display: none;
  }
  .grid__banniere .banniere__txt {
    font-size: 18px;
  }
  .grid__banniere .btn__compris {
    width: 175px !important;
    height: 68 !important;
    padding: 15px 0;
    font-size: 20px;
  }
}
.grid__carrousel {
  display: grid;
}
.grid__carrousel .swiper {
  width: 100%;
  max-height: 30vh;
}
.grid__carrousel .swiper .swiper__img {
  width: 100%;
  max-height: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.grid__carrousel .swiper .swiper__img__ordi {
  -o-object-position: 0% 25%;
     object-position: 0% 25%;
}
.grid__carrousel .swiper .swiper__img__champ {
  -o-object-position: 0% 25%;
     object-position: 0% 25%;
}
.grid__carrousel .swiper .swiper__bg {
  display: flex;
  align-items: center;
  position: absolute;
  height: 50px;
  max-height: 20%;
  width: 100%;
  background-color: #303030;
  bottom: 0;
  opacity: 90%;
}
.grid__carrousel .swiper .swiper__bg .bg__title {
  font-family: "Inter", sans-serif;
  color: #EFEFEF;
  font-size: 14px;
  line-height: 1;
  margin-left: 5px;
}
.grid__carrousel .swiper .swiper-pagination-bullet {
  margin-bottom: 28px;
}
.grid__carrousel .swiper .swiper-pagination-bullet-active {
  background: #0BABDC;
}
.grid__carrousel .swiper .swiper-button-prev {
  color: #303030;
  display: none;
}
.grid__carrousel .swiper .swiper-button-next {
  color: #303030;
  display: none;
}
@media (min-width: 768px) {
  .grid__carrousel .swiper {
    max-height: 45vh;
  }
  .grid__carrousel .swiper .swiper__img {
    width: 100%;
    max-height: 45vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .grid__carrousel .swiper .swiper__img__ordi {
    -o-object-position: 0% 25%;
       object-position: 0% 25%;
  }
  .grid__carrousel .swiper .swiper__bg {
    height: 60px;
  }
  .grid__carrousel .swiper .swiper__bg .bg__title {
    font-family: "Inter", sans-serif;
    color: #EFEFEF;
    font-size: 18px;
    line-height: 1.2;
    margin-left: 15px;
  }
  .grid__carrousel .swiper .swiper-pagination-bullet {
    margin-bottom: 50px;
  }
  .grid__carrousel .swiper .swiper-button-prev {
    color: #303030;
    display: block;
  }
  .grid__carrousel .swiper .swiper-button-next {
    color: #303030;
    display: block;
  }
}
@media (min-width: 1400px) {
  .grid__carrousel .swiper {
    max-height: 60vh;
  }
  .grid__carrousel .swiper .swiper__img {
    width: 100%;
    max-height: 60vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .grid__carrousel .swiper .swiper__img__ordi {
    -o-object-position: 0% 25%;
       object-position: 0% 25%;
  }
  .grid__carrousel .swiper .swiper__img__champ {
    -o-object-position: 0% 23%;
       object-position: 0% 23%;
  }
}

.grid__about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 12px;
}
.grid__about .about__title {
  font-size: 22px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  margin-bottom: 6px;
  color: #303030;
}
.grid__about .about__text {
  font-size: 16px;
  font-family: "Poppins", system-ui;
  font-weight: 500;
  color: #303030;
}

@media (min-width: 768px) {
  .grid__about {
    margin: 18px;
  }
  .grid__about .about__title {
    font-size: 26px;
    margin-bottom: 8px;
  }
  .grid__about .about__text {
    font-size: 20px;
    max-width: 768px;
  }
}
@media (min-width: 1400px) {
  .grid__about {
    margin: 24px;
  }
  .grid__about .about__title {
    font-size: 36px;
    margin-bottom: 12px;
  }
  .grid__about .about__text {
    font-size: 28px;
    max-width: 1050px;
  }
  .grid__about__text {
    text-align: center;
    margin-left: 5vw;
    margin-right: 5vw;
  }
}
.services__offerts {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.services__title {
  font-size: 22px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  margin-bottom: 6px;
  color: #303030;
  text-align: center;
}

.services__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 513px;
}
.services__container .service {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}
.services__container .service:hover {
  justify-content: center;
}
.services__container .service:hover .txt-block {
  display: block;
}
.services__container .service:hover .title-none {
  display: none;
}
.services__container .img__hover {
  position: absolute;
  width: 22px;
  margin-top: 158px;
  margin-left: 109px;
}
.services__container .services__recherche {
  width: 155px;
  height: 205px;
  background-color: #303030;
  border-radius: 20px;
  margin: 8px;
}
.services__container .services__recherche .recherche__title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-align: center;
  color: #E2E2E2;
  margin-top: 5px;
  line-height: 1.2;
  display: block;
}
.services__container .services__recherche .recherche__txt {
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  font-family: "Poppins", system-ui;
  color: #E2E2E2;
  display: none;
}
.services__container .services__recherche .img__microscope {
  position: absolute;
  width: 85px;
  margin-top: 50px;
}
.services__container .services__publication {
  width: 155px;
  height: 205px;
  background-color: #8DC63F;
  border-radius: 20px;
  margin: 8px;
}
.services__container .services__publication .publication__title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-align: center;
  color: #bfff6b;
  margin-top: 10px;
}
.services__container .services__publication .publication__txt {
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  font-family: "Poppins", system-ui;
  color: #bfff6b;
  display: none;
}
.services__container .services__publication .img__publication {
  position: absolute;
  width: 85px;
  margin-top: 50px;
}
.services__container .services__formation {
  width: 155px;
  height: 205px;
  background-color: #0BABDC;
  border-radius: 20px;
  margin: 8px;
}
.services__container .services__formation .formation__title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-align: center;
  color: #8be4ff;
  margin-top: 10px;
}
.services__container .services__formation .formation__txt {
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  font-family: "Poppins", system-ui;
  color: #8be4ff;
  display: none;
}
.services__container .services__formation .img__formation {
  position: absolute;
  width: 85px;
  margin-top: 50px;
}
.services__container .services__conseil {
  width: 155px;
  height: 205px;
  background-color: #8DD5DF;
  border-radius: 20px;
  margin: 8px;
}
.services__container .services__conseil .conseil__title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-align: center;
  color: #cdf8fd;
  margin-top: 5px;
  line-height: 1.2;
}
.services__container .services__conseil .conseil__txt {
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  font-family: "Poppins", system-ui;
  color: #cdf8fd;
  display: none;
}
.services__container .services__conseil .img__conseil {
  position: absolute;
  width: 85px;
  margin-top: 50px;
}
.services__container .services__sensibilisation {
  width: 155px;
  height: 205px;
  background-color: #BABABA;
  border-radius: 20px;
  margin: 8px;
}
.services__container .services__sensibilisation .sensibilisation__title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-align: center;
  color: #EFEFEF;
  margin-top: 10px;
}
.services__container .services__sensibilisation .sensibilisation__txt {
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  font-family: "Poppins", system-ui;
  color: #EFEFEF;
  display: none;
}
.services__container .services__sensibilisation .img__sensibilisation {
  position: absolute;
  width: 90px;
  margin-top: 50px;
}

@media (min-width: 768px) {
  .services__title {
    font-size: 26px;
    margin-bottom: 8px;
  }
  .services__container {
    width: 100%;
    max-width: 768px;
  }
  .services__container .service {
    width: 204px;
    height: 280px;
    margin: 9px;
  }
  .services__container .service .card__title {
    font-size: 20px;
    margin-top: 15px;
  }
  .services__container .service .recherche__title {
    margin-top: 10px;
  }
  .services__container .service .conseil__title {
    margin-top: 10px;
  }
  .services__container .service .card__img {
    width: 115px;
    margin-top: 70px;
  }
  .services__container .service .img__sensibilisation {
    width: 120px;
  }
  .services__container .service .card__txt {
    font-size: 16px;
  }
  .services__container .service .img__hover {
    width: 28px;
    margin-top: 225px;
    margin-left: 149px;
  }
}
@media (min-width: 1400px) {
  .services__title {
    font-size: 36px;
    margin-bottom: 12px;
  }
  .services__container {
    width: 100%;
    max-width: 1400px;
  }
  .services__container .service {
    width: 240px;
    height: 330px;
    margin: 12px;
  }
  .services__container .service .card__title {
    font-size: 24px;
    margin-top: 20px;
  }
  .services__container .service .recherche__title {
    margin-top: 15px;
  }
  .services__container .service .conseil__title {
    margin-top: 15px;
  }
  .services__container .service .card__img {
    width: 140px;
    margin-top: 95px;
  }
  .services__container .service .img__sensibilisation {
    width: 145px;
    margin-top: 95px;
  }
  .services__container .service .card__txt {
    font-size: 20px;
  }
  .services__container .service .img__hover {
    width: 32px;
    margin-top: 270px;
    margin-left: 179px;
  }
}
.donner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #303030;
  width: 315px;
  margin: 0 auto;
  margin-bottom: 60px;
  padding: 20px;
  border-radius: 30px;
}
.donner .donner__title {
  font-size: 22px;
  margin: 0 auto;
  margin-bottom: 6px;
  width: 248px;
}
.donner .donner__text {
  font-family: "Noto Sans", sans-serif;
  color: #0BABDC;
  width: 248px;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}
.donner a {
  display: flex;
  justify-content: center;
  text-decoration: none;
}
.donner a button {
  font-family: "Poppins", system-ui;
  width: 200px;
  font-size: 14px;
  font-weight: 700;
  color: #0BABDC;
  align-self: center;
  border-radius: 50px;
  background-color: #EFEFEF;
  border: 3px solid #0BABDC;
  transition: 0.5s;
  padding: 6px;
}
.donner a button:hover {
  transition: 0.5s;
  background-color: #0BABDC;
  border: 3px solid #8DD5DF;
  color: #EFEFEF;
}

@media (min-width: 768px) {
  .donner {
    border: 3px solid #303030;
    width: 500px;
    padding: 30px;
    border-radius: 35px;
  }
  .donner .donner__title {
    width: 75%;
    font-size: 26px;
    margin: 0;
    margin-left: 10px;
    margin-bottom: 8px;
  }
  .donner .donner__text {
    font-size: 16px;
    margin: 0;
    margin-left: 10px;
    width: 75%;
    margin-bottom: 40px;
  }
  .donner a {
    margin-bottom: 10px;
  }
  .donner a button {
    padding: 10px;
    width: 70%;
    font-size: 16px;
    font-weight: bold;
    color: #0BABDC;
    align-self: center;
    border-radius: 25px;
    background-color: #EFEFEF;
    border: 4px solid #0BABDC;
  }
  .donner a button:hover {
    background-color: #0BABDC;
    border: 4px solid #8DD5DF;
    color: #EFEFEF;
  }
}
@media screen and (min-width: 1400px) {
  .donner {
    width: 1000px;
    border: 3px solid #303030;
    border-radius: 40px;
    padding: 40px 150px;
  }
  .donner .donner__title {
    width: 700px;
    font-size: 36px;
    margin: 0;
    margin-bottom: 10px;
  }
  .donner .donner__text {
    font-size: 20px;
    margin: 0;
    margin-bottom: 70px;
    width: 60%;
  }
  .donner a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 40px;
  }
  .donner a button {
    width: 700px;
    padding: 15px;
    font-size: 25px;
    font-weight: bold;
    color: #0BABDC;
    align-self: center;
    border-radius: 50px;
    background-color: #EFEFEF;
    border: 5px solid #0BABDC;
  }
  .donner a button:hover {
    background-color: #0BABDC;
    border: 5px solid #8DD5DF;
    color: #EFEFEF;
  }
}
.temoignages__titre {
  text-align: center;
  font-size: 22px;
  margin-bottom: 14px;
  color: #303030;
}

.grid__temoignages {
  padding: 0 23px;
  max-width: 530px;
  margin: 0 auto;
}

.temoignage__item {
  text-align: center;
}
.temoignage__photo {
  width: 60px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.temoignage__nom {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #303030;
  margin: 10px 0;
}
.temoignage__texte {
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-size: 14px;
  color: #303030;
  margin: 0 auto;
  padding: 0 10px;
  max-width: 450px;
}

.temoignage__separation {
  width: 100%;
  height: 2px;
  border-radius: 50px;
  background-color: #303030;
  margin: 22px 0;
}

@media (min-width: 768px) {
  .temoignages__titre {
    font-size: 26px;
    margin-bottom: 16px;
  }
  .grid__temoignages {
    max-width: 800px;
    padding: 0 46px;
    display: grid;
    grid-template-columns: 1fr 2px 1fr 2px 1fr;
    justify-items: center;
  }
  .temoignage__photo {
    width: 70px;
  }
  .temoignage__nom {
    font-size: 20px;
  }
  .temoignage__texte {
    font-size: 16px;
    padding: 0;
  }
  .temoignage__separation {
    height: auto;
    margin: 0;
  }
  .temoignage__item:nth-child(1) {
    padding-right: 15px;
  }
  .temoignage__item:nth-child(3) {
    padding: 0 15px;
  }
  .temoignage__item:nth-child(5) {
    padding-left: 15px;
  }
}
@media (min-width: 1400px) {
  .temoignages__titre {
    font-size: 36px;
    margin-bottom: 20px;
  }
  .grid__temoignages {
    max-width: 1200px;
    margin: 0 auto;
  }
  .grid__temoignages .temoignage__item:nth-child(1) {
    padding-right: 25px;
  }
  .grid__temoignages .temoignage__item:nth-child(3) {
    padding: 0 25px;
  }
  .grid__temoignages .temoignage__item:nth-child(5) {
    padding-left: 25px;
  }
  .temoignage__photo {
    width: 80px;
  }
  .temoignage__nom {
    font-size: 24px;
  }
  .temoignage__texte {
    font-size: 20px;
  }
  .temoignage__separation {
    width: 3px;
  }
}
.nouvelles {
  display: flex;
  flex-direction: column;
}
.nouvelles__titre {
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  color: #303030;
  margin-bottom: 6px;
}

.grid__nouvelles {
  width: 100%;
  gap: 0;
  padding: 0 23px;
  max-width: 530px;
  margin: 0 auto;
  margin-top: 5px;
}

.nouvelle {
  width: 100%;
}
.nouvelle__item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}
.nouvelle__image {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}
.nouvelle__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
}
.nouvelle__titre {
  font-size: 16px;
  margin-bottom: 0;
  color: #303030;
  max-width: 500px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Inter", sans-serif;
}
.nouvelle__date {
  font-size: 14px;
  color: #0BABDC;
  margin-bottom: 9px;
}
.nouvelle__texte {
  font-size: 14px;
  color: #666;
}
.nouvelle__lien-none {
  display: none;
}
.nouvelle__esp .esp {
  font-family: "Poppins", system-ui;
  font-size: 14px;
  font-weight: 500;
  border: 2px solid #0BABDC;
  border-radius: 50px;
  width: 125px;
  padding: 8px;
  text-align: center;
  color: #0BABDC;
  transition: 0.3s;
  background-color: #EFEFEF;
}
.nouvelle__esp .esp:hover {
  background-color: #0BABDC;
  color: #EFEFEF;
}

.nouvelle__separation {
  width: 100%;
  height: 2px;
  border-radius: 50px;
  background-color: #333;
  margin: 18px 0;
}

@media (min-width: 768px) {
  .nouvelles__titre {
    font-size: 26px;
    margin-bottom: 8px;
  }
  .grid__nouvelles {
    margin: 0 auto;
    max-width: 751px;
    padding: 0 46px;
  }
  .nouvelle__content {
    padding-left: 20px;
  }
  .nouvelle__lien {
    display: none;
  }
  .nouvelle__lien-none {
    display: block;
  }
  .nouvelle__titre {
    font-size: 20px;
  }
  .nouvelle__date {
    font-size: 16px;
    margin-bottom: 0;
  }
  .nouvelle__image {
    width: 120px;
    height: 120px;
  }
  .nouvelle__esp {
    padding-left: 50px;
  }
  .nouvelle__esp .esp {
    font-size: 16px;
    padding: 12px;
    width: 145px;
  }
  .nouvelle__separation {
    margin: 22px 0;
  }
}
@media (min-width: 1400px) {
  .nouvelles__titre {
    font-size: 36px;
    margin-bottom: 12px;
  }
  .nouvelle__content {
    padding-left: 30px;
  }
  .nouvelle__titre {
    font-size: 24px;
    max-width: 850px;
  }
  .nouvelle__date {
    font-size: 18px;
  }
  .nouvelle__image {
    width: 150px;
    height: 150px;
  }
  .nouvelle__esp {
    padding-left: 0;
    padding-right: 20px;
  }
  .nouvelle__esp .esp {
    font-size: 18px;
    padding: 14px;
    width: 170px;
  }
  .grid__nouvelles {
    margin: 0 auto;
    max-width: 1400px;
  }
  .nouvelle__separation {
    height: 3px;
  }
}
body,
html {
  background-color: #EFEFEF;
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 500;
  color: #303030;
}

h2 {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 500;
}

h3 {
  font-family: "Noto Sans", sans-serif;
  font-size: 26px;
  font-weight: 600;
  color: #0BABDC;
}

p {
  font-family: "Poppins", system-ui;
  font-size: 22px;
  font-weight: 400;
}

.next_chapter {
  padding: 10px;
  font-size: 30px;
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .next_chapter {
    padding: 10px;
    font-size: 40px;
    width: 15%;
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1400px) {
  .next_chapter {
    padding: 10px;
    font-size: 50px;
    width: 5%;
    display: flex;
    justify-content: space-between;
  }
}/*# sourceMappingURL=style.css.map */