//partials variables mixins
@use "partials-scss/variables";
@use "partials-scss/mixins";
//partials header footer
@use "partials-scss/header";
@use "partials-scss/footer";
//partials body
@use "partials-scss/body";
@use "partials-scss/hero";
@use "partials-scss/banniere";
@use "partials-scss/carrousel";
@use "partials-scss/about";
@use 'partials-scss/services';
@use "partials-scss/don";
@use "partials-scss/temoignage";
@use "partials-scss/nouvelles";
@use "partials-scss/news-article";

body,
html {
    background-color: variables.$quartz;
}

h1 {
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-weight: 500;
    color: variables.$charbon;
}

h2 {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 500;
    //pas toujours la meme couleur
}

h3 {
    font-family: "Noto Sans", sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: variables.$bleu-ciel;
}

p {
    font-family: "Poppins", system-ui;
    font-size: 22px;
    font-weight: 400;
    //pas toujours la meme couleur
}

.next_chapter {
    padding: 10px;
    font-size: 30px;
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 768px) {
    .next_chapter {
        padding: 10px;
        font-size: 40px;
        width: 15%;
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 1400px) {
    .next_chapter {
        padding: 10px;
        font-size: 50px;
        width: 5%;
        display: flex;
        justify-content: space-between;
    }
}